<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.rgn.androidrgnapp01"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.rgn.androidrgnapp01.Inicio"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.rgn.androidrgnapp01.ExibicaoDeTextoDigitado"
            android:label="@string/title_activity_exibicao_de_texto_digitado"
            android:parentActivityName="br.com.rgn.androidrgnapp01.Inicio" 
            android:theme="@android:style/Theme.Holo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.rgn.androidrgnapp01.Inicio" />
        </activity>
    </application>

</manifest>
